# Ignorar archivos de compilación de .NET
bin/
obj/

# Ignorar archivos de configuración de Visual Studio (si es aplicable)
.vs/
.vscode/
.idea/

# Archivos de logs (si generas logs en tu proyecto)
*.log

# Archivos de ejecución de pruebas (pueden variar dependiendo de cómo se configuren)
TestExecution.json
